<label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p>
<label for="resp" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p><br>
<label for="tema">Temas</label>
<select id="tema" name="quiz[tema]">
	<% 
	var selected ='';
	[
		{value:"otro", text: "Otro"},
		{value:"ciencia", text: "Ciencia"},
		{value:"humanidades", text: "Humanidades"},
		{value:"tecnología", text: "Tecnología"},
		{value:"ocio", text: "Ocio"}
		

	].forEach(function(ot){

		if(ot.value == quiz.tema){
			selected = 'selected';
		}

		else{
			selected= '';
		}

	%>

	<option value="<%= ot.value %>" <%= selected %>> <%= ot.text %> </option>
	<% }); %>

</select><br><br>
<a href="/quizes"><button id="b2" type="button">Cancelar</button></a>
<input type="submit" id="b2" value="Salvar">

